tags
build/*
# unignore /build/ dir in third_party
!/build
.svn
~*
*~
*-
*.swp
*.swo
*.o
*.la
*.lo
*.so
*.tmp

# Csdp binaries
src/third_party/Csdp-6.0.1/example/example
src/third_party/Csdp-6.0.1/lib/libsdp.a
src/third_party/Csdp-6.0.1/solver/csdp
src/third_party/Csdp-6.0.1/theta/complement
src/third_party/Csdp-6.0.1/theta/graphtoprob
src/third_party/Csdp-6.0.1/theta/rand_graph
src/third_party/Csdp-6.0.1/theta/theta

src/third_party/sdpa-7.1.1/.deps
src/third_party/sdpa-7.1.1/spooles/build
src/third_party/sdpa-7.1.1/sdpa

.cproject
.externalToolBuilders
.project
.settings
